<mat-card>
    <mat-card-header>
        <mat-card-title>
            Register New User
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field style="width:100%">
                <input [(ngModel)]="registerData.name" name="name" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field style="width:100%">
                <input [(ngModel)]="registerData.email" name="email" matInput placeholder="Email" type="email">
            </mat-form-field>
            <mat-form-field style="width:100%">
                <textarea [(ngModel)]="registerData.description" name="description" matInput placeholder="Description"></textarea>
            </mat-form-field>
            <mat-form-field style="width:100%">
                <input [(ngModel)]="registerData.pwd" matInput placeholder="Password" name="password" type="password">
            </mat-form-field>
            <button (click)="post()" mat-raised-button color="primary">Register</button>
        </form>
    </mat-card-content>
</mat-card>